body{
  background-color: floralwhite;
}


.topbar__left-area .toggleMenu .icon {
    display: inline-block;
    width: 21px;
    height: 21px;
    background-image: url(//media.yoox.biz/ytos/resources/THEOUTNET/images/icons/hamburger.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    margin-top: -4px;
}

.topbar__middle-area{
  font-size: 75px;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  color: maroon;
  border-radius:
  margin: -10px;
}

.navbar-brand {
  display: inline;
  text-align: center;
}

table {
  background: rgba(0,0,0,0.5);
  text-align: center;
  padding: 0px 10px 0px 10px;
  border: 300px;
  margin: 10px;
  border-color: white;
  font-size: 20px;
}

.imgBck{
  background-image: url('./images/COBB.jpg') no-repeat;
}

.btn-default{
  padding:0px 10px 0px 10px;
  display:inline;
}

ul {
  padding: 10px;
  background: rgba(0,0,0,0.5);
}
li {
  display: inline;
  padding: 0px 10px 0px 10px;
}


.monthly{
  background-image: url('./images/COBB.jpg');
  background-repeat: no-repeat;
}

img{
  border: 20px solid black;
  margin: 30px;
}
.genre{
  padding: 20px;
  background: linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  background: -moz-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,.4));
  float: right
}

.btn-twitter {
  background: #00acee;
  border-color: #009ad5;
}
.btn-facebook {
  background: #4868ac;
  border-color: #314776;
}
.btn-pinterest {
  background: #b62f26;
  border-color: #b62f26;
}

#social-buttons button {
  color:white;
}
